@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, purple, cadetblue );
    background-repeat: no-repeat;
}
main{
    background-color: white;
    width: 50vw;
    
    padding: 10px;
    border-radius: 20px;
}
#key{
    background-color: purple;
    padding: 6px;
    border-radius: 10px;
}
#user{
    background-color: purple;
    padding: 3px;
    border-radius: 10px;
}

input:focus{
    border-color: rgb(247, 247, 247);
    
}
input{
    height: 20px;
    border-radius: 10px;
    border: 1px solid purple;
    padding: 8px;
    margin-bottom: 10px;
    width: 45vw;
}
input::placeholder{
    font-size: .9rem;
}
h1{
    text-align: center;
}
#container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#imagens{
    background-image: url(../imagens/entrada-login.jpg);
    background-repeat: no-repeat;
    height: 200px;
    background-position: center center;
    width: auto;
}
@media screen and (max-width: 768px) and (min-width: 380px) {
    #imagens{
        background-size: cover;
    }
    body{
        background-color: rgb(94, 0, 94);
        background-image: none;
    }
    #imagens{
    background-image: url(../imagens/entrada-login.jpg);
    background-repeat: no-repeat;
    height: 200px;
    float: none;
    }
    main{
    background-color: white;
    width: 60vw;
    padding: 10px;
    border-radius: 20px;
}
}
@media screen and (max-width: 992px) and (min-width: 768px) {
    input{
    height: 20px;
    border-radius: 10px;
    border: 1px solid purple;
    padding: 8px;
    margin-bottom: 10px;
    width: 98%;
    }
    main{
        width: 80%;
    }
    #imagens{
        background-size: cover;
    }
}
@media screen and (max-width:1920px) and (min-width: 992px) {
    main{
        width: 900px;
    }
    #sub{
        text-align: center;
    }
    input{
    height: 20px;
    border-radius: 10px;
    border: 1px solid purple;
    padding: 8px;
    margin-bottom: 10px;
    width: 98%;
    }
    #imagens{
        background-size: cover;
    }
}